# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5433
DB_NAME=sql_class_2_db

# Server Configuration
PORT=8080

# Security
JWT_SECRET=super_secret_ninja_key_change_me_in_production
REFRESH_SECRET=super_secret_ninja_key_change_me_in_production

NODE_ENV === "development"